:root {
    --background-Color: #000000;
    --font-Color: #ccbfb4;
    --accent-Color: #dd9c66;
    --secondary-Color: #72A276;
    --font-Size: 1vw;
    --border-Radius: 0px;
    --border-Size: 0.15vw;
}

body {
    color: var(--font-Color);
    font-size: calc(var(--font-Size) * 1.1);
    line-height: 140%;
    background-color: var(--background-Color);
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    /* mask: url("#scuffNoise"); */
}

h1 {
    font-size: calc(var(--font-Size) * 2);
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

a:link {
    color: var(--accent-Color);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--accent-Color);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--font-Color);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--font-Color);
    background-color: transparent;
    text-decoration: underline;
}

#overlay {
    position: fixed;
    display: block;

    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png"); */
    background-image: url("ScreenBlendNoiseTexture.png");
    mix-blend-mode: screen;
    background-repeat: repeat;
    /* opacity: 0.15; */


    pointer-events: none;
}


#TwelveByFourSystem {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 10vw);
    gap: 0.75em;

    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr; */
}

.BorderedCell {
    border: solid var(--font-Color) var(--border-Size);
    border-radius: var(--border-Radius);
    overflow: hidden;
}

.PaddedCell {
    padding:
        calc(var(--font-Size) / 2) var(--font-Size) calc(var(--font-Size) /2) var(--font-Size);
}

.IconColorChange {
    background-color: var(--font-Color);
    mask-image: url('icon.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-image: url('icon.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.IconColorChange:hover {
    background-color: var(--accent-Color);
}

.ModelViewer {
    width: 100%;
    height: 100%;
    display: block;
}