 body {
     /*background-color: #000000;*/
     font-family: 'Courier New', Courier, monospace;
     width: 70%;

     margin-left: auto;
     margin-right: auto;
     /*width: 300px;
     height: 200px;
     border-width: 30px;
     border-style: solid;
     border-image: url("Windows95Border.png");
     border-image-slice: 100;*/
     /*border-image-repeat: round;*/
 }



 .header {
     /*padding: 20px;*/
     height: 150px;

     display: flex;

     margin-left: auto;
     margin-right: auto;

     /*text-align: center;*/
     border-width: 50px;
     border-style: solid;
     border-image: url("Offset Background.png");
     border-image-slice: 100;

     div.vertical-line {
         width: 4px;
         /* Line width */
         background-color: black;
         /* Line color */
         height: 157%;
         position: relative;
         bottom: 31%;
         /* Override in-line if you want specific height. */
         float: right;
         /* Causes the line to float to left of content. 
            You can instead use position:absolute or display:inline-block
            if this fits better with your design */
     }

     img {
         /*border-right: 5px solid #333;
         padding-right: 20px;*/
         height: 150px;
         padding-right: 70px;

     }
 }


 hr.solid {
     border-top: 4px solid #000000;
 }

 /* Increase the font size of the <h1> element */
 .header h1 {
     font-size: 40px;
 }

 .projects {

     /*display: flex;*/
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;

     /*text-align: center;*/
     border-width: 50px;
     border-style: solid;
     border-image: url("Offset Background.png");
     border-image-slice: 100;

     .container {
         display: flex;
         width: 100%;
         height: auto;
         /* border: 2px solid #333; */
         /* background-color: white; */
     }

     .text-section {
         width: 60%;
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .image-section {
         width: 40%;
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     /* .text-section {
         background-color: #f0f0f0;
         text-align: center;
     } */

     .image-section img {
         max-width: 100%;
         height: auto;
         border-radius: 20px;
         border: 5px solid #000000;
     }
 }

 /* Style the top navigation bar */
 .navbar {
     overflow: hidden;
     /* Hide overflow */
     background-color: #333;
     /* Dark background color */
 }

 /* Style the navigation bar links */
 .navbar a {
     float: left;
     /* Make sure that the links stay side-by-side */
     display: block;
     /* Change the display to block, for responsive reasons (see below) */
     color: white;
     /* White text color */
     text-align: center;
     /* Center the text */
     padding: 14px 20px;
     /* Add some padding */
     text-decoration: none;
     /* Remove underline */
 }

 /* Right-aligned link */
 .navbar a.right {
     float: right;
     /* Float a link to the right */
 }

 /* Change color on hover/mouse-over */
 .navbar a:hover {
     background-color: #ddd;
     /* Grey background color */
     color: black;
     /* Black text color */
 }

 /* #gl-canvas {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
     width: 75%;
 } */